// Primary colors
$primary: #f0e9da;
$secondary: #c1440e;
$accent: #9c7654;
$bonuscolor: #56381D;
$filterMenu: #e3d7be;

// Neutral Colors
$gray-dark: #333333;

// Text colors
$text-color: $gray-dark;