* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.6;
  scroll-behavior: smooth;
}

body {
  background-color: #f0e9da;
  color: #333;
  font-size: 1rem;
  font-family: "Be Vietnam Pro", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1 {
  font-size: clamp(1.8rem, 5vw, 2.5rem);
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2rem);
}

h3 {
  font-size: clamp(1.3rem, 3vw, 1.75rem);
}

h4 {
  font-size: clamp(1.1rem, 2.5vw, 1.5rem);
}

h5 {
  font-size: clamp(1rem, 2vw, 1.25rem);
}

h6 {
  font-size: clamp(0.9rem, 1.5vw, 1rem);
}

p {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

li, ol {
  list-style: none;
}

.primary-btn {
  background-color: #c1440e;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  font-weight: 600;
}
.primary-btn:hover {
  background-color: #9c7654;
}

.mobile-btn-primary {
  background-color: #c1440e;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  font-weight: 600;
  min-width: 200px;
  display: inline-block;
  text-align: center;
}
.mobile-btn-primary:hover {
  background-color: #9c7654;
}

.max-width-px {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #f0e9da;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
header .header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
@media (min-width: 1024px) {
  header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
  }
}
header .header-container .logo {
  font-size: 2rem;
}
header .header-container .nav-menu {
  display: none;
}
@media (min-width: 768px) {
  header .header-container .nav-menu {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    display: inline-flex;
  }
  header .header-container .nav-menu a {
    text-decoration: none;
    text-transform: capitalize;
    color: #9c7654;
    font-weight: bold;
  }
  header .header-container .nav-menu a:hover {
    text-decoration: underline;
    color: #c1440e;
  }
}
header .header-container .hamburger-button {
  width: 30px;
  height: 30px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  border-radius: 2px;
  background-color: #9c7654;
  cursor: pointer;
}
header .header-container .hamburger-button .slice {
  max-width: 100%;
  width: 30px;
  height: 4px;
  border-radius: 2px;
  background-color: black;
}
@media (min-width: 768px) {
  header .header-container .hamburger-button {
    display: none;
  }
}

.mobile-nav-menu {
  padding-top: 90px;
  position: fixed;
  left: -300px;
  top: 0;
  height: 100vh;
  width: 300px;
  transition: left 0.3s ease;
  background-color: #f0e9da;
  z-index: 4;
}
.mobile-nav-menu .hamburger-closed-button {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 2px;
  background-color: #9c7654;
  cursor: pointer;
}
.mobile-nav-menu .hamburger-closed-button .slice {
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 2px;
  background-color: black;
}
.mobile-nav-menu .hamburger-closed-button .slice1 {
  transform: rotate(45deg);
}
.mobile-nav-menu .hamburger-closed-button .slice2 {
  display: none;
}
.mobile-nav-menu .hamburger-closed-button .slice3 {
  transform: rotate(-45deg);
}
.mobile-nav-menu nav {
  margin-top: 50px;
}
.mobile-nav-menu nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav-menu nav ul li {
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  border-bottom: 0.2px #9c7654 solid;
}
.mobile-nav-menu nav ul li a {
  text-transform: capitalize;
  color: #9c7654;
  font-weight: bold;
}
.mobile-nav-menu nav ul li a:hover {
  color: #c1440e;
}
.mobile-nav-menu.active {
  left: 0;
}

.overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 3;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f0e9da;
}
.hero-section .hero-img {
  width: 100%;
  height: 300px;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  overflow: hidden;
}
.hero-section .hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
@media (min-width: 1024px) {
  .hero-section .hero-img {
    width: 50%;
    height: 420px;
  }
}
.hero-section .hero-text {
  width: 100%;
  padding: 1rem;
}
@media (min-width: 1024px) {
  .hero-section .hero-text {
    width: 700px;
  }
}
@media (min-width: 1024px) {
  .hero-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding: 3rem 0;
  }
}

.about {
  background-color: white;
  padding: 1rem 1rem;
}
@media (min-width: 768px) {
  .about .wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    max-width: 1140px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .about .wrap {
    padding: 2rem 1rem;
  }
}
.about .wrap .about-text .image {
  width: 100%;
  height: 300px;
  background-color: lightcoral;
  border-radius: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .about .wrap .about-text .image {
    display: none;
  }
}
.about .wrap .image-column {
  display: none;
}
@media (min-width: 768px) {
  .about .wrap .image-column {
    display: block;
    width: 100%;
    height: 400px;
    background-color: lightcoral;
    border-radius: 2rem;
  }
}

.menu {
  padding: 2rem 1rem;
}
@media (min-width: 768px) {
  .menu {
    padding: 2rem 1rem;
  }
}
@media (min-width: 1024px) {
  .menu {
    max-width: 1140px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .menu .box {
    text-align: center;
  }
}
.menu .box .menu-dishes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .menu .box .menu-dishes {
    grid-template-columns: 1fr 1fr;
    gap: 2rem 2rem;
  }
}
@media (min-width: 1024px) {
  .menu .box .menu-dishes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.menu .box .menu-dishes .dishes {
  background-color: whitesmoke;
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.menu .box .menu-dishes .dishes .dish-image-profile {
  width: 100%;
  height: 200px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: lightcoral;
}
.menu .box .menu-dishes .dishes .dish-text {
  padding: 1rem;
  text-align: left;
}
.menu .box .menu-dishes .dishes .dish-text .heading-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu .box .menu-dishes .dishes .dish-text a {
  color: #c1440e;
  font-weight: bold;
  text-decoration: underline;
}

.location {
  background-color: whitesmoke;
  padding: 2rem 1rem;
}
.location .location-box {
  padding: 1rem;
  text-align: center;
}
.location .location-box address {
  margin-bottom: 1rem;
}
.location .location-box .location-hours {
  margin-bottom: 1rem;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f0e9da;
  background-image: url("img/ngu-binh-restaurant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  padding: 0 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(81, 81, 81, 0.5);
  z-index: 2;
}
.banner .content {
  position: relative;
  z-index: 3;
  text-align: center;
}

.footer-section {
  background-color: #9c7654;
  color: #f0e9da;
}
.footer-section .footer-columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem 1rem 0 1rem;
}
@media (min-width: 1024px) {
  .footer-section .footer-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.footer-section .footer-columns .business-profile {
  width: 300px;
}
.footer-section .footer-columns .footer-menus {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-section .footer-columns .footer-menus .our-menu ul li,
.footer-section .footer-columns .footer-menus .useful-links ul li {
  margin-bottom: 0.5rem;
}
.footer-section .footer-columns .footer-menus .our-menu ul li a,
.footer-section .footer-columns .footer-menus .useful-links ul li a {
  color: #f0e9da;
}
.footer-section .footer-columns .footer-menus .contact-us address p a {
  color: #f0e9da;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .footer-section .footer-columns .footer-menus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media (min-width: 1024px) {
  .footer-section .footer-columns .footer-menus {
    width: 650px;
  }
}

.footer-copyright {
  padding: 0.5rem;
  background-color: #56381D;
}
.footer-copyright div p {
  color: #f0e9da;
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
